.title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}

.hero {
    background: linear-gradient(90deg, #5f5353, #ffffff);
    color: white;
    padding: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.H-subtitle {
    font-size: 18px;
    margin: 20px 0;
}

.btn {
    position: relative;
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 16px 25px;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #8c290a;
    background-color: #ff0000;
}